* {
  padding: 0;
  margin: 0;
}

body {
  height: 1vh;
  /* background-color: blanchedalmond; */
}

h1 {
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: tomato;
  margin-top: 100px;
  cursor: default;
}
